* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    cursor: default;
}

body,html {
    background: darkslategrey;
    height:100%;
    min-width: 350px;
}

.navbar {
    /* border: 1px solid black; */
    position:fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    z-index:1;
    justify-content: space-between;
    min-width: 350px;
}

.nav-link{
    cursor: pointer;
}

.nav-item {
    padding: 0 20px
}

.logo:hover {
cursor: pointer;
}

main {
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    min-height:100%;
}



.container-sm {
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    max-width: 960px;
}



.title-box {
    background-color: rgb(255, 139, 30) ;
    width: 150px;
    height:40px;
    position: absolute;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    left: 0;
}

h2 {
    font-size: small;
}

.img-fluid {
    margin-top: 10px;
}



#info-asso {
    background-color: rgb(255, 164, 79);
    position: absolute;
    bottom: -90px;
    right: 0;
    left:0;
    font-style: italic;
    width: 300px;
    height: 140px;
    text-align: center;
    padding-top: 10px;
}

#info-asso p {
    padding: 5px;
    color: white;
}

#info-advert {
    display: none;
}
#info-advert p {
    padding: 5px;
    color: white;
}


button {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

section button:hover {
    box-shadow: 0 0 10px darkturquoise;
}


#icon-box {
    /* border: 1px solid black; */
    justify-content: center !important;
}


.navbar-brand{
    /* border: 1px solid black; */
    margin: auto;
    cursor: pointer;
    font-family:fantasy;
    font-style: italic;
    padding-right: 20px;
}

.navbar-toggler{
    margin: -10px;
}

.container-info {
    margin-bottom: 100px;
  }

footer {
    /* border: 1px solid black; */
    display: flex; 
    justify-content: center;
    background:#ccc;
    position: absolute;
    bottom: 0;
    width:100%;
    height:80px;
    padding-bottom: 20px;
}



.justify-content-between {
    justify-content:center !important;
}

section {
    margin-bottom: 100px;
}


@media screen and (min-width: 768px) {
    
    section {
        margin-bottom: 200px;
    }
    .title-box {
        width: 350px;
        height:70px;
    }

    h2 {
        font-size: x-large;
        padding-top: 10px;
        text-align: center;
    }

    .container-info, .container-advert {
        position:relative;
    }

    #info-asso {
        background-color: rgb(255, 164, 79);
        position: absolute;
        bottom: -30px;
        left:25px;
        bottom: 10px;
        font-style: italic;
        width: 50%;
        height: 200px;
        text-align: center;
        padding-top: 50px;
    }

    #info-advert {
        display: block;
        background-color: rgb(255, 164, 79);
        position: absolute;
        bottom: -30px;
        left:25px;
        bottom:10px;
        font-style: italic;
        width: 50%;
        height: 100px;
        text-align: center;
        padding-top: 20px;
    }

    footer {
        padding-bottom: 0px;
    }

}




/* --------------------------EVENT----------------------  */

h1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white
}

.info-event {
    display: none;
}
.info-event p {
    padding: 5px;
    color: white;
}

.container-event {
    height: 250px;
    overflow: hidden;
}

.date-box {
    background-color: rgb(255, 139, 30) ;
    width: 200px;
    height:40px;
    position: absolute;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    left: 0;
}

@media screen and (min-width: 768px) {
.container-event {
    height: 450px;
    overflow: hidden;
}

.info-event {
    display: block;
    background-color: rgb(255, 164, 79);
    position: absolute;
    bottom: -30px;
    left:25px;
    top:340px;
    font-style: italic;
    width: 60%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
}

.date-box {
    width: 360px;
    height:70px;
}


}